.hidden {
    display: none;
}

button{
    height: 40px;
    width: 30%;
    padding: 10px;
    font-size: 20px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.togglecontainer{
    display: flex;
    width: 600px;
}

.togglecontainer .listcontainer{
    display: block;
}

.togglecontainer .listcontainer .listitems{
    display: flex;
    .icon i{
        padding: 15px;
    }
}

h6{
    font-size: 20px;
    font-weight: bold;
}

.list{
    display: block;
    height: 100px;
    width: 700px;
    margin-left: 100px;
}

.list .list1{
    display: flex;
}

.list .list1 .icon i{
    transform: scale(2.5,2.5);
    margin-right: 25px;
    padding-right: 40px;
}

.list .list1 .data p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-top: 40px;
}